@font-face {
  font-family: 'JostMedium';
  src: url(../assets/font/jost.medium.ttf);
}

@font-face {
  font-family: 'JostBold';
  src: url(../assets/font/jost.bold.ttf);
}

body {
  background-color: #f0f0f0;
  font-family: 'JostMedium';
  margin: 0;
  padding: 0;
  overflow: -webkit-scrollbar;
  -webkit-overflow-scrolling: touch;
}

body::-webkit-scrollbar {
  display: none;
}

.header {
  position: absolute;
  background-color: transparent;
  color: rgba(67, 37, 21, 1);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}


.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

a {
  text-decoration: none;
  color: #C97836;
  font-size: 1.1em;
}

.menu > a:hover {
  color: #432515;
}


button:hover {
  background-color: rgba(228, 205, 147, 1);
  color: rgba(201, 120, 54, 1);
}

.logo_header {
  text-align: center;
}

#img_intro {
  width: 80%;
}

.liens {
  background-image: url(../assets/img/new/homme-entête2.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titre1 {
  font-size: 5vw;
  color: #E4CD93;
  width: 70%;
}

.titre2 {
  font-size: 5vw;
  color: #432515;
  width: 50%;
  line-height: 1;

}



.liens p {
  font-size: 1.5vw;
  color: rgba(67, 37, 21, 1);
  width: 50%;
}

.realm{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #432515;
  height: 100vh;
}

.photo1{
  display: flex;
  width: 50%;
  background-image: url(../assets/img/new/femme-realm1.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.text-realm-ctn{
  display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 font-family: 'JostMedium';
 width: 50%;
}



.text-realm h1{
  margin-bottom: -7px;
  color: #E4CD93;
}

.realm_text {
  color: #E4CD93;
  font-size: 1.5vw;
  width: 70%;
  line-height: 2;
}



.text_realm {
  width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    text-align: justify;
}

.explain{
  display: flex;
    width: 100%;
    height: 120vh;
    background-image: url(../assets/img/realmbgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    align-items: center;
}

.explain-text{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'JostMedium';
  width: 53%;
}

.photo2{
 position: relative;
  left: 50px;
  width: 40%;
}

#photo2 {
  width: 70%;
}

.explain-text p {
  font-size: 1.5vw;
  color: rgba(67, 37, 21, 1);
  width: 85%;
  text-align: justify;
}

.valeur {
  color: #432515;
}

.valeur-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6% 0;
  font-size: 3em;
}

.all-content{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
 
}


.valeur-img{
  width: 100%;
  max-height: 30vw;
  background-color: #432515;
  opacity: 0.5;
  border-radius: 20px;

}

.bg_color {
  background-color: #432515;
  border-radius: 20px;
  

}

.first{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;

}

.second{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.third{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.experience{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url(../assets/img/new/full-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  margin: 10% 0 0 0;
  padding: 0 0 100px 0;
  overflow: hidden;
}

.experience-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d9d9d9;
  font-size: 4.5em;
}



.box1{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;

}

.box1-text-ctn{
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 45%;
}

.box1-img{
  width: 45%;
}

.box2{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
}
.qui{
  background-image: url(../assets/img/new/duo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-qui{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #D3B985;
  background-color: rgba(211, 185, 133, 0.9);
  width: 45%;
  border-radius: 25px;
  padding: 30px;
}

.top_ctn {
  margin: 0 6%;
}

.text_explain_ctn {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: 'JostMedium';
  width: 73%;
  color: #432515;
}

.explain_titre_h1 {
  color: #432515;
  font-size: 4vw;
  margin: 10px 0 0 0;
}

.explain_titre_h2 {
  color: #432515;
  font-size: 2.5vw;
  margin: 0;
}

.border {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_border {
  width: 33%;
  height: 1px;
  background-color: #432515;
}

.valeur_txt {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 1.3em;
}

.experience_wrapper {
  display: flex;
  justify-content: center;

}

.inspi {
  margin: 100px;
  background-image: url(../assets/img/new/bg-realm2.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;

}

.global_img {
  width: 100%;
}



.box2-text {
  width: 45%;
}

.titre1_inspi {
  font-size: 4em;
  color: #432515;
  margin: 0;
}

.titre2_inspi {
  font-size: 2.5em;
  color: #432515;
  font-weight: 100;
}

.text_inspi {
  font-size: 1.3em;
  color: #432515;
  margin: 20px 0;
  text-align: justify;
}

.titre1_qui {
  font-size: 4em;
  color: #432515;
  margin: 0;
}

.text_qui {
  font-size: 1.3em;
  color: #432515;
  margin: 0;
  text-align: justify;
  padding: 20px;
}

.fiti {
  display: flex;
  justify-content: space-evenly;
  padding: 100px;
  align-items: center;
}

.fiti-text {
  width: 45%;
}

.fiti-img {
  width: 35%;
  text-align: center;
}

#pair1 {
  width: 100%;
  margin-bottom: 20px;
  filter: grayscale(100%);
}

#fiti2 {
  width: 45%;
}

#mbokolo1 {
  width: 45%;
}

.photos_qui {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titre2_fiti {
  font-size: 2.5em;
  color: #432515;
  font-weight: 100;
  line-height: 1;
}

.text_fiti {
  font-size: 1.1em;
  color: #432515;
  margin: 0;
  text-align: justify;
  padding: 20px 0;
  line-height: 1.8;
}

.sublim {
  background-image: url(../assets/img/feuillage.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 28vh;
  filter: sepia(0.5) brightness(0.9) contrast(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.titre1_sublim {
  font-size: 3em;
  color: #E4CD93;
  margin: 0;
  letter-spacing: 2.5px;
}

.join {
  display: flex;
  margin: 100px 0;
  justify-content: space-between;
}


.join-text-ctn {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.join-img {
  width: 50%;
}

#join_img1 {
  width: 100%;
  right: 100px;
}

.join-text {
  font-size: 1.1em;
  color: #432515;
  text-align: justify;
  width: 65%;
  margin-bottom: 30px;
}

.titre1_join {
  font-size: 2em;
  color: #432515;
}

#newsletter {
  background-color: rgba(201, 120, 54, 1);
  color: rgba(228, 205, 147, 1);
  border: none;
  padding: 15px 25px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.7s ease;
  white-space: nowrap;
  font-family: 'JostMedium';
  width: 70%;
}

#newsletter::placeholder {
  color: rgba(228, 205, 147, 1);
}

input[type="email"] {
  font-size: 1.3em; 
  padding: 10px;
  color: rgba(228, 205, 147, 1);;  
}



#intro_btn {
  background-color: rgba(201, 120, 54, 1);
  color: rgba(228, 205, 147, 1);
  border: none;
  padding: 15px 50px;
  cursor: pointer;
  border-radius: 80px;
  transition: 0.3s ease;
  white-space: nowrap;
  font-family: 'JostMedium';
  font-size: 2vh;
}

#intro_btn:hover {
  background-color: rgba(228, 205, 147, 1);
  color: rgba(201, 120, 54, 1);
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  background-color: #432515;
  color: #E4CD93;
  padding: 0 0 50PX 0;
  width: 100%;
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 30%;
  gap: 20px;
  padding-left: 20px;

}

.right-footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 30%;
  gap: 20px;
  padding-right: 20px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

footer a {
  color: #E4CD93;
}

footer a:hover {
  color: #C97836;
}

.text-deroulant {
  display: flex;
  width: 100%;
  overflow: hidden; 
}

.scroll-wrapper {
  display: inline-block;
  white-space: nowrap;
  animation: defilement 120s linear infinite;
}



.scroll-wrapper p {
 display: inline-block;
  margin: 30px 30px;
  text-align: center;
} 

.scroll-wrapper > p {
  width: 14%;
}

.text-deroulant img {
  vertical-align: middle; 
}

@keyframes defilement {
  0%, 50% {
      transform: translateX(0);
  }
  25%, 75% {
      transform: translateX(-70%);
  }
}

.custom-class {
  color: #432515;
  font-size: 2em;
 
}

.size {
  width: 100%;
  display: flex;
}

.align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.defilement-img {
  width: 100px;
}

.exp_text {
  width: 80%;
  font-size: 3.2vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.exp_title2 {
  font-size: 6.2vh;
  color: #432515;
  margin: 0;
}

.experience_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-container {
  width: 90%;
  height: 60%;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 10%;
  height: 80%;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 50%;
  box-sizing: border-box;
  height: 80%; 
}

.swiper-slide.active {
  height: 80%;
  display: flex;

}

.swiper-slide-active {
  transform: scale(1.05);
  z-index: 1;
}


.ctn_plz_work {
  display: flex;
  flex-flow: column;
  border: #E4CD93 2px solid;
  border-radius: 25px;
  background-color: rgba(228, 205, 147, 0.9);
  color: #432515;
  font-size: 1.5em;
  box-sizing: border-box;
  min-height: 100%;
  width: 80%;
  padding:10px 0 10px 20px;
}

.ctn_plz_work2 {
  display: flex;
  flex-flow: column;
  border: #E4CD93 2px solid;
  border-radius: 25px;
  background-color: rgba(228, 205, 147, 0.9);
  color: #432515;
  font-size: 1.5em;
  box-sizing: border-box;
  min-height: 100%;
  width: 80%;
  padding:20px;
}

.ggls_form {
  border: #C97836 2px solid;
  background-color: #C97836;
  color: #E4CD93;
  border-radius: 30px;
  padding: 10px;
  transition: 0.3s;
}

.ggls_form:hover {
  background-color: #E4CD93;
  border-color: #E4CD93;
  color: #C97836;
}

.ctn_txt_exp {
 margin-top: 30px;
}

.box2-img {
  width: 45%;
}

.footer_img {
  width: 100%;
}

@media (max-width: 1200px) {
  .titre1_inspi {
    font-size: 3em;
  }

  .titre2_inspi {
    font-size: 2em;
  }

  .titre1_qui {
    font-size: 3em;
  }

  .text_qui {
    font-size: 1.1em;
  }

  .qui {
    height: 60%;
  }

  .titre2_fiti {
    font-size: 2em;
  }

  .text_fiti {
    font-size: 1em;
  }

  .fiti-img {
    width: 45%;
  }

  .join-text {
    font-size: 1em;
  }

  .text_inspi {
    font-size: 1.1em;
  }
  
  .fiti {
    display: flex;
   justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  .join {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .join-text-ctn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titre1_join {
    font-size: 1.5em;
    text-align: center;
  }

  .join-text {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 0;
    
  }

  .join-img {
    width: 95%;
  }

  .button_join {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #join_img1 {
    width: 100%;
  }

  .titre1_sublim {
    font-size: 7vw;
  }

  #img_intro
  {
    width: 50%;
  }

  .fiti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 20px 0;

  }

  .fiti-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
  }

  .titre1_inspi {
    font-size: 3em;
  }

  .titre2_fiti {
    font-size: 7vw;
    padding: 0 25px;
  }

  .text_fiti {
    font-size: 3vw;
    padding: 0 25px;
    margin: 10px 0;
  }

  .box-qui {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #D3B985;
    background-color: rgba(211, 185, 133, 0.9);
    border-radius: 25px;
    padding: 0;
  }

  .header {
    width: 100%;
    padding: 0;
  }

  .logo_header {
    width: 100%;
    padding: 10px 0;
  }

  .valeur_title1 {
    font-size: 1.8vw;
  }

  .valeur_txt {
    font-size: 2.3vw;
    width: 102%;
  }

  .valeur-title {
    font-size: 5vw;
  }

  .titre1_qui {
    font-size: 8vw;
    padding: 10px;
  }
  

  .text_qui {
    font-size: 2vh;
  }

  .box1-text-ctn {
    width: 100%;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .text_inspi
  {
    padding: 10px 25px;
    font-size: 3vw;


  }

  .photo1 {
    background-position-x: center;
  }

  .titre1_inspi {
    font-size: 11vw;
    padding: 10px 25px;

  }

  .titre2_inspi {
    font-size: 7vw;
    padding: 10px 25px;

  }

  .box2-text {
    width: 100%;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }

  .inspi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .photo2 {
    width: 50%;
    left: 0 ;  }

    .explain {
     height: 50vh;
    }

    .experience-title {
      font-size: 10vw;
    }

    .experience {
      height: 50vh;
      padding: 0;
    }

    .ctn_txt_exp {
      margin-top: 0;
    }

    .exp_text {
      font-size: 3.5vw;
      width: 100%;
    }

    .ctn_plz_work {
      width: 100%;
      padding: 10px;
    }

   

    .ctn_plz_work {
      width: 100%;
      padding: 10px;
    }

    .realm {
    height: 50vh;
    }

    .realm_text {
      font-size: 1.7vh;
      width: 90%;
      padding: 10px;
      margin: 0;

    }

    .text_realm {
    width: 100%;
    letter-spacing: 1.2;
  }

  .explain-text p{
    font-size: 2.5vw;
    width: 100%;
  }

  .liens {
    width: 100%;
    height: 50vh;
  }

  #intro_btn {
    font-size: 1.5vh;
    padding: 10px 20px;
  }

  .liens p {
    font-size: 1.5vh;
    width: 100%;
  }

 .menu {
    display: none;
  }

  

  .liens
  {
    background-position-x: center;
  }

  .explain {
    background-image: none;
  }

  .photo2 {
    width: 45%;
  }

  #photo2 {
    width: 90%;
  }

  .text_explain_ctn
  {
    width: 80%;
  }

  .box1 {
    margin: 0;
  }

  .box1-img {
    width: 90%;
    background-image: url(../assets/img/new/bg-realm2.png);
  }

  .box2-img {
    width: 60%;
    background-image: url(../assets/img/new/bg-realm2.png);
    background-size: 200%;
    background-position-x: center;
    background-position-y: center;
  }

  .inspi {
  background-image: none;  
}

#fiti2 {
display: none;
}

#mbokolo1 {
  display: none;
}

.fiti-img {
  width: 85%;
}

#vector {
  width: 20%;
}

.first {
  height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.second {
  height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.third {
  height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer_img {
  width: 75%;
  position: relative;
  bottom: 10px;

}

.logo {
text-align: center;}

.left-footer a {
  font-size: 1.5vw;
}

.left-footer {
gap: 10px;
}

.right-footer {
gap: 10px;
}

.right-footer a {
  font-size: 1.5vw;
}

.social-icon {
  width: 40%;
}

footer {
  padding: 20px 0;
}

a {
  display: flex;
    align-items: center;
    justify-content: center;

}

.exp_title2 {
  font-size: 5vw;
}

.realm_text {
  font-size: 2.7vw;
  padding: 10px 0;
}

.text_qui {
  font-size: 3.5vw;
}

}