@font-face {
    font-family: 'Futura';
    src: url(/font/futura\ medium\ bt.ttf);
  }
  
  @font-face {
    font-family: 'Futura Bold';
    src: url(/font/Futura\ Bold\ font.ttf);
  }
  
  body {
    margin: 0;
    width: 100%;
    font-family: 'Futura', sans-serif;
    background-color: rgba(228, 205, 147, 0.6);
  }
  
  
  header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  
  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
    margin-right: 2em;
    
  }
  
  ul {
    font-size: 1.5vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    font-family: 'Futura-Bold', sans-serif;
    color: rgba(67, 37, 21, 1);
    text-decoration: none;
    font-weight: 600;
  }
  
  .nav:hover {
    color: rgba(201, 120, 54, 1);
  }