@font-face {
  font-family: 'JostMedium';
  src: url(font/jost.medium.ttf);
}

@font-face {
  font-family: 'JostBold';
  src: url(font/jost.bold.ttf);
}

body {
  background-color: #f0f0f0;
  font-family: 'JostMedium';
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  background-color: transparent;
  color: rgba(67, 37, 21, 1);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: rgba(201, 120, 54, 1);
  color: rgba(228, 205, 147, 1);
  border: none;
  padding: 15px 50px;
  margin-left: 50px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.7s ease;
  font-size: 1.2vw;
  white-space: nowrap;
  font-family: 'JostMedium';
}

button:hover {
  background-color: rgba(228, 205, 147, 1);
  color: rgba(201, 120, 54, 1);
}

.logo_header {
  text-align: center;
}

#img_intro {
  width: 80%;
}

.liens {
  background-image: url(./img/femme.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 5vw;
  color: rgba(67, 37, 21, 1);
  margin-left: 50px;
  width: 50%;
}


.liens p {
  font-size: 1.5vw;
  color: rgba(67, 37, 21, 1);
  margin-left: 50px;
  width: 50%;
}

.realm{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #432515;
  height: 70vh;
}

.photo1{
  display: flex;
  justify-content: center;
  position: relative;
  width: 60%;
}


.text-realm{
  display: flex;
 flex-flow: column;
 justify-content: center;
 align-items: center;
 font-family: 'JostMedium';
}

.text-realm p {
  font-size: 1.5vw;
  color: rgba(67, 37, 21, 1);
  margin-left: 50px;
  width: 50%;
}

.text-realm h1{
  margin-bottom: -7px;
  color: #E4CD93;
}

.text-realm p{
  color: #E4CD93;
}

.explain{
  display: flex;
    width: 100%;
    height: 160vh;
    background-image: url(img/realmbgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    align-items: center;
}

.explain-text{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: 'JostMedium';
  width: 53%;
}

.photo2{
  display: flex;
  align-items: center;
  width: 40%;
}

#photo1 {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 65%;
}

#photo2 {
  width: 85%;
}

.explain-text p {
  font-size: 1.5vw;
  color: rgba(67, 37, 21, 1);
  margin-left: 50px;
  width: 70%;
}

.valeur-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-content{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
 
}


.valeur-img{
  width: 300px;
  height:350px ;
}

.first{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;

}

.second{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.third{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.experience{
  width: 100%;
  height: 500px;
  background-image: url(img/bg-expe.png);
}

.experience-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
}

.exp1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: #E4CD93 2px solid;
  background-color: #E4CD93;
  
}

.box1{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
}

.box1-text{
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 50%;
}

.box1-img{
  width: 50%;
}

.box2{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
}
.qui{
  background-image: url(img/image\ 4.png);
  height: 759px;
}

.box-qui{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #E4CD93;
  background-color: #E4CD93;
}